.post-feed{
  //background-color: scale-color($body-bg, $lightness: +7%);
  //padding: rem_calc(20);
  margin-bottom: rem-calc(20);
  $post-feed-puff-height: rem-calc(200);

  article{
    margin: rem-calc(10) 0;
    color: $oil;

    .feed-post{
      display: flex;
      background-color: $secondary-bg-color;
    }

    h2{
      font-size: rem-calc(25);
      font-weight: $font-weight-normal;
      margin-bottom: 0;
    }

    .post-sub-title{
      color: $aluminum;
      margin-top: 0;
    }

    button.read-more{
      height: rem-calc(45);
      line-height: rem-calc(45);
      padding: 0 rem-calc(20);
      margin: 0 0 rem-calc(10);
    }

    .post-thumbnail{
      margin: rem-calc(20) 0 0;
    }

    button.get-bonus{
      margin: rem-calc(20) 0;
      background-color: $secondary-color;
      color: $smoke;
    }
    .get-bonus:hover{
      color: $white;
      background-color: scale-color($secondary-color, $lightness: -8%);
    }

    .right-side{
      background-color: scale_color($secondary-bg-color, $lightness: -12%);
      min-height: $post-feed-puff-height;
    }

    .left-side{
//      background-color: $secondary-bg-color;
      padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(20);

    }


  }
}

.column{
  padding-left: rem-calc(5);
  padding-right: rem-calc(5);
}

.puff-title{
  $puff-height: rem-calc(50);

  background-color: $primary-color;
  height: $puff-height;
  margin-bottom: rem-calc(10);
  text-align: center;
  font-size: $puff-height / 2;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  line-height: $puff-height;
  color: $secondary-body-font-color;
}