.custom-single-post{
  background-color: $secondary-bg-color;
  padding: rem-calc(20);
  color: $oil;
  margin-bottom: rem-calc(30);

  .entry-title{
    color: $primary-color;
    margin-bottom: 0;
  }

  .post-thumbnail{
    padding: rem-calc(10);
    width: auto;
    float: right;

    img {
      display: block;
      margin: 0 auto;
      width: auto;
      height: 70px;
    }
  }

  .title-area{
    margin-bottom: rem-calc(20);
  }

  time{
    margin-bottom: rem-calc(20);
  }
}

.bonus-info{
  padding: 0 rem-calc(10);
  background-color: $secondary-bg-color;
  color: $oil;

  ul {
    list-style: none;
    margin: 0;
    padding: rem-calc(20) rem-calc(10) rem-calc(10);


    h4{
      color: $secondary-color;
      font-weight: 500;
      margin-bottom: 0;
    }

    .get-bonus.in-post .button{
      display: block;
      margin: rem-calc(20) auto rem-calc(10);
      background-color: $secondary-color;
      &:hover{
        color: $white;
        background-color: scale-color($secondary-color, $lightness: -8%);
      }

    }

    hr{
      margin: rem-calc(10);
    }
  }
}

aside#sidebar{
  margin: rem-calc(30) 0;
  padding: rem-calc(0) rem-calc(0) rem-calc(10);
  //background-color: $secondary-bg-color;

  h6{
    background-color: $primary-color;
    color: $secondary-body-font-color;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-size: rem-calc(20);
    font-weight: bold;
    text-align: center;
    padding: rem-calc(8);
    margin: 0;
  }

  ul{
    list-style: none;
    margin: 0 0 rem-calc(10);
    padding: rem-calc(20) rem-calc(20);
    background-color: $secondary-bg-color;
  }
}

