.custom-single-post{
  background-color: $secondary-bg-color;
  padding: rem-calc(20);
  color: $oil;

  .entry-title{
    color: $primary-color;
    margin-bottom: 0;
  }

  .post-thumbnail{
    padding: rem-calc(10);
    width: auto;
    float: right;

    img {
      display: block;
      margin: 0 auto;
      width: auto;
      height: 70px;
    }
  }

  .title-area{
    margin-bottom: rem-calc(20);
  }

  time{
    margin-bottom: rem-calc(20);
  }
}

.bonus-info{
  background-color: scale_color($secondary-bg-color, $lightness: -16%);
  color: $oil;

  ul {
    list-style: none;

    h4{
      color: $secondary-color;
      font-weight: 500;
      margin-bottom: 0;
    }

    .get-bonus.in-post .button{
      margin: rem-calc(20) 0 rem-calc(10);
    }
  }
}

